nav {
    background-color:black;
    
}

nav ul {
    list-style-type: none;
    background-color: powderblue;
    text-align: center;
    line-height: 200%;
    margin: auto;
}

nav ul li {
    background-color: black;
    width: 50%;
    display: inline-block;
    font-size: 200%;
}

nav ul li a:hover{
    color: cornsilk;
}

.cizgi{
    text-decoration: none;
}

#wrapper {
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 500%;
}

table{
    margin: auto;
    font-size: 400%;
    background-color: white;
    width: 50%;
}

body{
    background-color:powderblue;
}


