body{
    background-color: powderblue;
}

nav {
    background-color:black;
    
}

nav ul {
    list-style-type: none;
    background-color: powderblue;
    text-align: center;
    line-height: 200%;
    margin: auto;
}

#wrapper {
    width: 90%;
    margin: auto;
}

nav ul li {
    background-color: black;
    width: 50%;
    display: inline-block;
    font-size: 200%;
}

nav ul li a:hover{
    color: cornsilk;
}

.cizgi{
    text-decoration: none;
}