body{
    background-color: powderblue;
}

nav {
    background-color:black;
    
}

nav ul {
    list-style-type: none;
    background-color: powderblue;
    text-align: center;
    line-height: 200%;
    margin: auto;
}

nav ul li {
    background-color: black;
    width: 50%;
    display: inline-block;
    font-size: 200%;
}

#wrapper {
    width: 90%;
    margin: auto;
}

nav ul li a:hover{
    color: cornsilk;
}

.cizgi{
    text-decoration: none;
}

.chopper {
   height: 50%;
   width: 30%;
   margin: 1% 10% 5% 10%;
   text-align: center;
   float: right;
   border: darkseagreen;
}

#text1{
    
}

.hell {
    height: 15%;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    float: right;
}